{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}


{% block body %}
    <h1>Episode <i>"{{ episode.title }}"</i></h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ episode.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ episode.title }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ episode.number }}</td>
        </tr>
        <tr>
            <th>Synopsis</th>
            <td>{{ episode.synopsis }}</td>
        </tr>
        <tr>
            <th class>Commentaires</th>


            <td>


                <div class="container">
                    <div class="row">
                        {% for comment in episode.comments %}
                        <div class="col-sm">
                        <div class="row bg-light" style="max-width: 18rem; border: 2px solid grey;">
                            <div class="col-sm card-body">
                                <i class="card-text">"{{ comment.comment }}"</i>
                                <p class="card-text"> Rate : {{ comment.rate }}</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <p class="card-title">{{ comment.author.email }} </p>
                                {% if app.user == comment.author or is_granted('ROLE_ADMIN') %}
                                    {{ include('comment/_delete_form.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                </div>
                        {% endfor %}
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    {% if app.user %}
        <button type="button" class="btn bg-secondary">
        <a href="{{ path('comment_new', {'id': episode.id}) }}">Laisser un commentaire</a>
        </button>
    {% endif %}
<br>
    <br>
<button type="button" class="btn bg-secondary">
    <a href="{{ path('episode_index') }}">back to list</a>
</button>
    <br>
    {%  if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>
    {{ include('episode/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
